<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Technologies</Name>
    <Alias>Technologies</Alias>
    <Icon>icon-servers.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Technologies document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Technologies</Template>
    </AllowedTemplates>
    <DefaultTemplate>Technologies</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>TechnologyItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>