<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Post</Name>
    <Alias>BlogPost</Alias>
    <Icon>icon-magazine.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog post document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Header Image</Name>
      <Alias>headerImage</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>7e468eeb-9ac8-46b2-a773-a128e61aaef8</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header image above content.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Main body</Name>
      <Alias>rteContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define main content using RTE.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>1508598e-b0e6-4bf8-8f69-5e8abbb040ce</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose blog author.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>30</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>