/*----------  libraries
------------------------------------------------------------------------------*/

@import "compass";
@import "config/reset";
@import "config/variables";
@import "rgbapng";

/*----------  helpers
------------------------------------------------------------------------------*/

@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/ie";

/*----------  base
------------------------------------------------------------------------------*/

@import "base/typography";
@import "base/layout";

/*----------  layout
------------------------------------------------------------------------------*/

@import "layout/buttons";
@import "layout/icons";
@import "layout/forms";
@import "layout/lists";

/*----------  partials
------------------------------------------------------------------------------*/

@import "partials/header";
@import "partials/footer";
@import "partials/templates";
@import "partials/components";
@import "partials/home";

/*----------  libs
------------------------------------------------------------------------------*/

@import "lib/flexslider";
@import "lib/contact-form";
@import "lib/swiper";

/*----------  Generic elements
------------------------------------------------------------------------------*/
.people-block {
	background: #efefef;
}

/*---------- What we do page
------------------------------------------------------------------------------*/
.employee-block {
	@include base-float;
	border-bottom: 1px solid #d0d1d3;
	margin-bottom: 50px;
	&:first-of-type {
		margin-top: 50px;
	}
	&:last-of-type {
		margin-bottom: 25px;
	}
	.img-wrap {
		width: 42.2824302134647%;
		float: left;
		img {
			max-width: 100%;
			display: block;
		}
	}
	.info {
		//width: calc(100% - 775px);
		width: 54.16%;
		margin-top: 14%;
		float: right;
	}
	.col {
		width: 48.48484848484848%;
		float: left;
		&:last-child {
			width: 43.18181818181818%;
			float: right;
		}
	}
	h2 {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 2px;
	}
	.position {
		color: $blue-light;
		font-size: 24px;
		display: block;
		margin-bottom: 16px;
	}
	p {
		margin-bottom: 27px;
	}
	blockquote {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 35px;
		@include base-float;
		color: $grey-light;
	}
	.contact-box {
		@include base-float;
		.mail {
			float: left;
			clear: both;
			height: 51px;
			line-height: 48px;
			display: block;
			text-align: center;
			text-transform: uppercase;
			border: 1px solid #141b23;
			padding: 0 40px 0 25px;
			background: #141b23;
			color: $white;
			font-size: 14px;
			margin-bottom: 16px;
			.ico {
				margin: 0 10px -2px 0;
				@include sprite(ico-mail-white);
			}
			&:hover {
				background: $blue-light;
				border-color: $blue-light;
			}
		}
		.phone {
			float: left;
			clear: both;
			color: #141b23;
			font-size: 14px;
			line-height: 19px;
			font-family: $din-font-bold;
			.ico {
				@include sprite(ico-mobile-black);
				margin: 0 10px -4px 0;
			}
		}
	}
	&.right-aligned {
		.img-wrap {
			float: right;
		}
		.info {
			float: left;
		    //width: calc(100% - 706px);
		    width: 57.7175697865353%;
			//padding-left: 60px;
			margin-top: 105px;
		}
		.col {
			width: 54.056%;
			&:last-child {
				width: 38.8%;
			}
		}
	}
	@include breakpoint(phone) {
		border-bottom: 1px solid $grey-bg;
		padding-bottom: 30px;
		margin-bottom: 30px;
		&:first-of-type {
			margin-top: 30px;
		}
		&:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
			border: none;
		}
		.img-wrap,
		.info {
			float: left !important;
		}
		.img-wrap {
			width: 100% !important;
			margin-bottom: 30px;
		}
		.info {
			width: 100% !important;
			padding: 0 !important;
			margin: 0 !important;
		}
		.col {
			width: 100% !important;
		}
		h2 {
			font-size: 25px;
			line-height: 25px;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 10px;
		}
		.position {
			font-size: 12px;
			margin-bottom: 5px;
		}
		.contact-box { 
			height: auto;
			text-align: center;
			margin-bottom: 10px;
			a {
				border: none;
				&.mail {
					@include horizontal-align;
					padding: 0 20px;
					width: auto;
				}
				&.phone {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
		blockquote {
			margin-bottom: 15px;
		}
	}
	@include breakpoint(tablet) {
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}
		.img-wrap {
			width: 50% !important;
			float: left;
			img {
				width: 100%;
			}
		}
		.info {
			width: 48% !important;
			margin-top: 0 !important;
			float: right;
			padding: 0 !important;
		}
		.col {
			width: 100% !important;
		}
		.position {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 15px;
		}
		.contact-box {
			margin-bottom: 15px;
			.mail {
				margin-bottom: 15px;
			}
		}
		blockquote {
			margin-bottom: 15px;
		}
	}
}

/*----------Sidebar
------------------------------------------------------------------------------*/
.widget {
	&.accordion {
		border: 1px solid #c7c7c7;
		border-bottom: none;
		.item {
			@include base-float;
			border-bottom: 1px solid #c7c7c7;
			.accordion-head {
				@include base-float;
				a {
					font-size: 20px;
					line-height: 22px;
					color: $blue-dark;
					display: block;
					padding: 22px 24px;
					position: relative;
					font-family: $bold-font;
					i {
						float: right;
						margin-top: 6px;
					}
				}
				&.open {
					a {
						.ico.arrow-acc-down {
							@include sprite(arrow-acc-up);
						}
					}
				}
			}
			.accordion-content {
				display: none;
				@include base-float;
				padding: 5px 25px;
			}
		}
		.search {
			@include base-float;
			position: relative;
			padding: 12px 25px;
			border-bottom: 1px solid #c7c7c7;
			input {
				width: 100%;
				float: left;
				border: none;
				outline: none;
				height: 40px;
				line-height: 40px;
				font-size: 20px;
				font-family: $bold-font;
				padding: 0;
				padding-right: 25px;
			}
			.submit {
				position: absolute;
				top: 24px;
				right: 25px;
				.ico {
					@include sprite(ico-search);
				}
			}
		}
	}
	&.slider {
		h3 {
			text-align: center;
			background: #d4d4d4;
			color: #141b23;
			text-transform: uppercase;
			font-size: 18px;
			height: 52px;
			line-height: 52px;
		}
		.flexslider {
			height: 310px;
			background: #efefef;
			margin: 0;
			h4 {
				font-size: 18px;
				line-height: 22px;
				font-family: $bold-font;
				padding: 0 5px;
				margin-bottom: 8px;
				a {
					color: $blue-dark;
				}
			}
			.center {
				text-align: center;
				img {
					display: inline-block;
					max-width: 72%;
					margin: 35px auto 30px;
				}
			}
			.text-item {
				text-align: center;
				padding: 18px 20px;
				.romb {
					width: 55px;
					height: 55px;
					background: $blue-light;
					margin: 12px auto 22px;
				}
				p {
					line-height: 16px;
					font-size: 14px;
					color: $grey-light;
					margin-bottom: 20px;
				}
				.reset-inner {
					color: $white;
				}
			}
			.flex-control-nav {
				bottom: 0;
				background: $white;
				text-align: left;
				height: 30px;
				padding-top: 15px;
				li {
					margin: 0 4px;
					padding: 3px;
					a {
						@include border-radius(0);
						width: 7px;
						height: 7px;
						background: #a5a5a5;
						@include box-shadow(none);
						&.flex-active {
							@include rotate(-45);
							background: #2f2f2f;
						}
					}
					&:first-child {
						margin-left: 0;
					}
				}
			}
			.date, .author {
				font-family: Verdana, Geneva, sans-serif;
			}
			.date {
				float: right;
			}
			.author {
				float: left;
			}
			.flex-direction-nav {
				display: none;
			}
			&.challengers {
				.slides li {
					.inner {
						@include base-float;
						padding: 25px 25px 0 12px;
					}
					img {
						width: 87%;
						display: inline-block;
						margin-left: 4px;
					}
					.author-info {
						text-align: right;
						@include base-float;
						h4 {
							font-family: $bold-font;
							margin-bottom: 6px;
							color: #2f2f2f;
							font-size: 18px;
						}
						span {
							font-family: $neutra;
							font-size: 14px;
							color: $grey-light;
						}
					}
				}
			}
			&.small {
				height: 270px;
			}
		}
	}
	&.text-box {
		text-align: center;
		background: #efefef;
		h3 {
			background: $blue-light;
			text-transform: uppercase;
			color: $white;
			padding: 16px;
			font-size: 18px;
			line-height: 20px;
		}
		.inner {
			@include base-float;
			padding: 10% 11% 35px 11%;
			h4 {
				font-size: 18px;
				font-family: $bold-font;
				color: $blue-dark;
			}
			p {
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}
}

/*----------  Single post page
------------------------------------------------------------------------------*/
.article {
	.img-wrap {
		@include base-float;
		margin-bottom: 35px;
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
		.badge {
			position: absolute;
			top: 30px;
			left: -28px;
			.reset-inner {
				right: -3px;
    			margin-top: 0;
			}
		}
	}
}

.article-nav {
	@include base-float;
	padding: 34px 16px;
	border-top: 2px solid #efefef;
	border-bottom: 2px solid #efefef;
	.prev-post,
	.next-post {
		text-transform: uppercase;
		color: $grey-light;
		&:hover {
			text-decoration: underline;
		}
	}
	.prev-post {
		float: left;
		padding-left: 78px;
		background: transparent url(../img/link-arrow-left-grey.png) no-repeat left center;
	}
	.next-post {
		float: right;
		padding-right: 78px;
		background: transparent url(../img/link-arrow-right-grey.png) no-repeat right center;
	}
}

.article-footer {
	@include base-float;
	padding: 16px;
	.share-box {
		float: left;
		span, ul li a {
			text-transform: uppercase;
			color: $grey-light;
		}
		span {
			margin-right: 16px;
			float: left;
		}
		ul {
			float: left;
			li {
				float: left;
				margin-right: 6px;
				a {
					&:hover {
						color: #e52d15;
					}
				}
			}
		}
	}
	.current-coments {
		float: right;
		text-transform: uppercase;
		a {
			color: #00a1e4;
			margin-right: 3px;
			display: inline-block;
		}
	}
}

.author-box {
	@include base-float;
	background: $grey-bg;
	padding: 40px 0 24px;
	margin-bottom: 40px;
	> img {
		width: 36.63471778487753%;
		float: left;
		padding-left: 37px;
	}
	.info {
		float: left;
		width: 45.580404685836%;
		margin-left: 6.070287539936102%;
		h4 {
			font-size: 14px;
			text-transform: uppercase;
			margin-bottom: 12px;
			span {
				background: $white;
				padding: 4px 12px;
			}	
		}
		h5 {
			font-size: 18px;
			margin-bottom: 10px;
			line-height: 20px;
		}
		p {
			margin-bottom: 25px;
		}
		.bottom {
			@include base-float;
			height: 50px;
			line-height: 50px;

			.contact-link {
				float: left;
				background: $blue-dark;
				color: $white;
				padding: 0 24px;
				text-transform: uppercase;
				font-size: 14px;
				.ico {
					@include sprite(ico-mail-white);
					margin: 0 18px -3px 0;
				}
			}
			.social-links {
				width: auto;
				float: right;
				height: 30px;
				line-height: 30px;
				margin-top: 14px;
			}
		}
	}
}
.related-posts {
	h3 {
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 22px;
	}
	.one-four {
		width: 22.47071352502662%;
		float: left;
		margin-right: 3.372381966631173%;
		h4 {
			font-size: 18px;
			margin-bottom: 10px;
			line-height: 22px;
			font-family: $neutra;
			a {
				color: $blue-dark;
			}
		}
		p {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 10px;
			color: $grey-light;
		}
		.date {
			font-size: 10px;
			text-transform: uppercase;
			font-family: Verdana, Geneva, sans-serif;
			color: $grey-light;
		}
		&:last-of-type {
			margin-right: 0;
		}
		&:hover {
			h4 {
				font-family: $bold-font;
				a {
					color: $blue-light;
				}
			}
			p {
				color: $blue-dark;
			}
			.date {
				color: $blue-light;
			}
		}
	}
}

/*----------  technologies page
------------------------------------------------------------------------------*/
.one-half-list {
	@include base-float;
	margin-bottom: 110px;
	li {
		float: left;
		width: 50%;
		margin-bottom: 28px;
		* {
			@include transition(all 0.4s ease-in-out);

		}
		.box {
			width: 180px;
			height: 200px;
			float: left;
			border: 1px solid #c7c7c7;
			position: relative;
			text-align: center;
			margin-right: 22px;
			.img-wrap {
				height: 110px;
				@include base-float;
				transform: translate3d(0,50%,0);
				-webkit-transform: translate3d(0,50%,0);
				> img {
					max-height: 75%;
					max-width: 75%;
					filter: url(assets/img/filters.svg#grayscale); 
				    filter: gray;
				    -webkit-filter: grayscale(1); 
				}
			}
			.contact-box {
				@include opacity(0);
				@include base-float;
				min-height: 75px;
				padding: 0 10px 0 11px;
				position: absolute;
				bottom: 5px;
				left: 0;
				@include transition(all 0.7s ease-in-out);
				img {
					float: right;
					max-height: 70px;
					width: auto;
				}
				span {
					display: block;
					margin: 18px 0 3px;
				}
			}
			&:hover {
				border-color: #00a1e4;
				.img-wrap {
					top: 10%;
					transform: translate3d(0,20%,0);
					-webkit-transform: translate3d(0,20%,0);
					> img {
						filter: none; /* Applies to FF + IE */
			    		-webkit-filter: grayscale(0);
					}
				}
				.contact-box {
					@include opacity(1);
				}
			}
		}
		.contact-box {
			text-align: left;
			span, a {
				font-size: 14px;
				line-height: 16px;
				color: #7d7d7d;
				display: inline-block;
			}
			a {
				padding-left: 20px;
				background: transparent url(../img/icons/ico-mail.png) no-repeat left 6px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.text {
			float: right;
			width: calc(100% - 203px);
			padding: 15px 15px 0 0;
			p {
				font-size: 15px;
				line-height: 22px;
			}
			.contact-box {
				display: none;
			}
		}
	}
	@media only screen and (min-width: 1025px) {
		li {
			width: 50% !important;
			margin-right: 0 !important;
		}
	}
	@include breakpoint(phone) {
		width: 2000em;
		margin-bottom: 15px;
		li {
			* {
				transition: none !important;
			}
			.text {
				@include base-float;
				display: block;
				text-align: center;
			}
			.box {
				border: none;
				height: 120px;
				width: 100%;
				margin-right: 0;
				.img-wrap {
					height: 100%;
					transform: none !important;
					img {
						@include vertical-align;
					}
				}
			}
		}
	}
	@include breakpoint(tablet) {
		li {
			* {
				transition: none !important;
			}
			width: 100%;
			margin-right: 0;
			.box .contact-box {
				display: none !important;
			}
			.text {
				float: right;
				width: calc(100% - 210px);
			}
		}
	}
	@media only screen and (min-width: 1025px) and (max-width: 1300px) {
		li {
			width: 100% !important;
			margin-right: 0;
			.box {
				margin-right: 0;
			}
			.text {
				float: right;
				width: calc(100% - 210px);
				.contact-box {
					display: none !important;
				}
			}
		}
	}
	
}

.certificate-block {
	@include base-float;
	margin-bottom: 50px;
	height: 70px;
	line-height: 70px;
	span {
		display: inline-block;
		float: left;
		margin-right: 30px;
		font-size: 18px;
		color: #2f2f2f;
		font-family: $din-font-bold;
	}
	ul {
		float: left;
		height: 70px;
		li {
			float: left;
			margin-right: 35px;
			a {
				display: block;
				height: 70px;
				img {
					@include vertical-align;
				}
			}
		}
	}
}

/*----------  services page
------------------------------------------------------------------------------*/
.items-list {
	@include base-float;
	margin-top: 40px;
	h2 {
		font-size: 38px;
		margin-bottom: 13px;
		a {
			color: $black;
		}
	}
	p {
		margin-bottom: 26px;
		a {
			color: $grey-light;
		}
	}
	li {
		@include base-float;
		margin-bottom: 52px;
		.img-box {
			float: left;
			width: 195px;
			padding: 40px 32px 0 23px;
			position: relative;
			margin-left: 6px;
		}
		.text {
			float: right;
			width: calc(100% - 233px);
		}
		&.right-aligned {
			.img-box {
				float: right;
				margin: 0;
			}
			.text {
				float: left;
			}
		}
	}
	&.has-hover {
		li {
			&:hover {
				h2 a {
					color: $blue-light;
					@include transition(color 0.3s);					
				}
				.read-more-link {
					color: $blue-light;
					@include transition(color 0.3s);
					i {
						@include sprite (ico-arrow-link-blue);
					}
				}
				.blue-romb {
					background: #141b23;
				}
			}
		}
	}
	&.full {
		.text {
			width: 100%;
		}
	}
	@include breakpoint(phone) {
		margin-top: 50px;
		h2 {
			font-size: 19px;
			line-height: 22px;
			margin-bottom: 15px;
		}
		p {
			font-size: 15px;
		}
		li {
			margin-bottom: 70px;
			.img-box {
				float: none !important;
				width: 150px;
				margin: 0 auto 50px auto !important;
				padding: 0;
			}
			.text {
				float: left !important;
				width: 100%;
			}
		}
	}
	&.search-list {
		border-bottom: 1px solid $grey-bg;
		padding-bottom: 30px;
	}
}

/*----------  search-results page
------------------------------------------------------------------------------*/
.search-pagination {
	@include base-float;
	li {
		display: inline-block;
		padding: 20px 30px 20px 0;
		a {
			color: $black;
			font-size: 14px;
		}
		.pagination-active {
			font-family: $din-font-bold;
			border-bottom: 1px solid $black;
		}
	}
}

/*----------  contact page
------------------------------------------------------------------------------*/
.contact-us {
	padding-bottom: 80px;
	.contact-questions {
		li {
			overflow: visible;
			margin-left: 4px;
		}
		margin-top: -5px;
		span {
			font-size: 16px;
			font-family: $din-font-bold;
			color: $blue-dark;
		}
		.contact-info {
			position: relative;
			input {
				width: 100%;
				height: 56px;
				margin-top: 11px;
				font-size: 16px;
				@include input-placeholder($blue-light);
				color: $blue-light;
				border: 1px solid $gray-lighter;
				&:focus {
					border: 1px solid $blue-light;
				}
			}
			&:after {
				content: '';
				position: absolute;
				width: 90px;
				height: 3px;
				background: $blue-light;
				bottom: 0px;
			}
		}
		
		.main-questions {
			overflow: auto;
			li {
				width: 32.1%;
				float: left; 
				margin-right: 17px;
				padding-bottom: 0 !important;
				margin-left: 0 !important;
				position: relative;
				&:last-of-type {
					margin-right: 0;
				}
			}

		}
		.contact-message {
			padding: 28px 0 50px;
			textarea {
				width: 100%;
				height: 283px;
				margin-top: 11px;
				padding-top: 10px;
    			font-size: 16px;
    			border: 1px solid $gray-lighter;
    			resize: none;
    			@include input-placeholder($blue-light);
				color: $blue-light;
				&:focus {
					border: 1px solid $blue-light;
				}
			}
		}
		.btn.btn-arrow {
		 	margin-left: 4px;
		}
	}
	.contact-who-block {
		overflow: hidden;
		padding: 35px 5px;
		.contacts-wrapper {
			margin-right: 45px;
		}
		p {
			font-family: $din-font-bold;
			color: $blue-dark;
		}
		.one-contact {
			width: 25%;
			float: left;
			.contact-romb-wrap {
				width: 100%;
			    float: left;
			    margin: 30px 58px 36px;
			    .contact-who {
			    	width: auto;
				    float: left;
				    z-index: 5;
				    position: relative;
				    margin: 25px 25px 50px 3px;
				    border: 1px solid $gray-lighter;
				    padding-right: 18px;
				    .img-wrap {
						float: left;
						width: 95%;
						height: auto;
						position: relative;
						z-index: 5;
						background: #1595bf url(../img/contact-blue-bg.png) no-repeat center center;
						background-size: cover;
						text-align: center;
						margin: 13px;
						cursor: pointer;
						padding-bottom: 8px;
						img {
							width: 90%;
						    height: auto;
						    position: relative;
						    top: 8px;
						    right: 8px;
						}
					}
			    }
			    .contact-who-name {
			    	    width: 100%;
						float: left;
						margin-left: -17%;
						text-align: center;
						p {
							font-family: $din-font;
						}
			    }
			    &.contact-office-img {
			    	.contact-who {
			    		.img-wrap {
				    		background: $gray-bg-darker;
							img {
							    top: 7px;
    							right: 0px;
							}
				    	}
			    	}
				}
			}
			&.selected-contact {
				.contact-who {
					border: 1px solid $blue-light;
				}
			}
		}
		.select-contact-form {
			    width: 102%;
   				margin-left: -5px;
			select {
				width: 100%;
			    height: 56px;
			    border: 1px solid $gray-lighter;
			    color: $blue-dark;
			    font-size: 14px;
    			padding-left: 20px;
			}
		}
	}
	@include breakpoint(desktop) {
		.contact-who-block {
			.one-contact {
				.contact-romb-wrap  {
					width: 80%;
				}
			}
		}
	}
	
	@include breakpoint(tablet) {
		.contact-questions {
			.main-questions {
				li {
					width: 31.1%;
				}
			}
			.contact-who-block {
				.one-contact {
					.contact-romb-wrap {
						width: 80%;
						.img-wrap {
							width: 92%;
							img {
								top: 9px;
   								right: 6px;
							}
						}
					}
					.contact-office-img {
						.contact-who {
							.img-wrap {
							}
						}						
					}
					.contact-who-name {
						margin-left: -5%;
					}
				}				
			}
		}
	}
	@include breakpoint(phone) {
		.contact-questions {
			li {
				text-align: left;
			}
			.main-questions {
				li {
					width: 100%;
					margin-bottom: 25px;
				}
			}
			.contact-who-block {
				.contacts-wrapper {
					margin-right: 0;
					.one-contact {
						width: 100%;
						.contact-romb-wrap {
							width: 100%;
							margin-left: 25%;
						}
					}
				}
			}
		}
	}
}
