<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Tag</Name>
    <Alias>TagItem</Alias>
    <Icon>icon-tagalt-pricealt.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Tag item</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Repository</Master>
    <Compositions>
      <Composition>Repository</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>