<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Tags Container</Name>
    <Alias>TagsContainer</Alias>
    <Icon>icon-tags.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container for tag items</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Repository</Master>
    <Compositions>
      <Composition>Repository</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>TagItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>