<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>News Post</Name>
    <Alias>NewsPost</Alias>
    <Icon>icon-document.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>News post document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>NewsPost</Template>
    </AllowedTemplates>
    <DefaultTemplate>NewsPost</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>News Title</Name>
      <Alias>newsTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[News title.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>News Box Image</Name>
      <Alias>boxImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[News box teaser image. Dimensions are 511x511 px.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>News Header Image</Name>
      <Alias>headerImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[News header image above content. Dimensions are 938x600 px.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Main body</Name>
      <Alias>rteContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define main content using RTE.]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Date</Name>
      <Alias>postDate</Alias>
      <Type>Umbraco.Date</Type>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Blog post date. Set this to overide sorting by post create date.]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>1508598e-b0e6-4bf8-8f69-5e8abbb040ce</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose blog author.]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Team Sidebar Widget</Name>
      <Alias>teamWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>be081fa2-73c3-4ffb-939f-e66407703266</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose team members for sidebar widget.]]></Description>
      <SortOrder>7</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Service Sidebar Widget</Name>
      <Alias>serviceWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>59dedff9-21b9-4ccb-b794-de352ec8313d</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose services for sidebar widget.]]></Description>
      <SortOrder>8</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>31</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Id>36</Id>
      <Caption>Sidebar</Caption>
      <SortOrder>7</SortOrder>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>