<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Blog Image Cropper" Id="Umbraco.ImageCropper" Definition="7e468eeb-9ac8-46b2-a773-a128e61aaef8" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="21" Value="[&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;header&quot;,&#xD;&#xA;    &quot;width&quot;: 938,&#xD;&#xA;    &quot;height&quot;: 600&#xD;&#xA;  },&#xD;&#xA;  {&#xD;&#xA;    &quot;alias&quot;: &quot;box&quot;,&#xD;&#xA;    &quot;width&quot;: 511,&#xD;&#xA;    &quot;height&quot;: 511&#xD;&#xA;  }&#xD;&#xA;]" Alias="crops" SortOrder="0" />
  </PreValues>
</DataType>