<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Url Picker" Id="RJP.MultiUrlPicker" Definition="df155e09-5604-4b36-9ecc-d93301f531b2" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="15" Value="" Alias="minNumberOfItems" SortOrder="0" />
    <PreValue Id="16" Value="1" Alias="maxNumberOfItems" SortOrder="1" />
  </PreValues>
</DataType>