<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Team</Name>
    <Alias>Team</Alias>
    <Icon>icon-workshirt.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Team document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Team</Template>
    </AllowedTemplates>
    <DefaultTemplate>Team</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>TeamMember</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Main body</Name>
      <Alias>mainContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define main content using RTE.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Display Team Members</Name>
      <Alias>displayTeamMembers</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>be081fa2-73c3-4ffb-939f-e66407703266</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose team members to display on page.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>22</Id>
      <Caption>Content</Caption>
      <SortOrder>4</SortOrder>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>