/*----------  forms
------------------------------------------------------------------------------*/

input,
textarea {
	@include input-placeholder($black);
	@include border-radius(0);
	height: 25px;
	padding: 0 10px;
	color: $black;
}


