<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Multi Url Picker" Id="RJP.MultiUrlPicker" Definition="f4b015a8-d83e-41b3-a6b5-a365471a26cf" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="19" Value="" Alias="minNumberOfItems" SortOrder="0" />
    <PreValue Id="20" Value="-1" Alias="maxNumberOfItems" SortOrder="1" />
  </PreValues>
</DataType>