<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>Error404</Name>
  <Alias>Error404</Alias>
  <Design><![CDATA[@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.Home>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    ViewBag.HeadSectionTitle = Model.Name;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}











@section additionalFooterSection
{

}
]]></Design>
</Template>