/*----------  variables
------------------------------------------------------------------------------*/

// Sprites
$icons: sprite-map("icons/*.png", $spacing: 20px, $layout: vertical);
$icons2x: sprite-map("icons2x/*.png", $spacing: 20px, $layout: vertical);  //if you don't need retina display icons, exclude this line


// Colors
$white: #fff;
$black: #000;

$grey: #676767;
$grey-light: #7d7d7d;
$gray-lighter: #dedede;
$grey-bg: #efefef;
$gray-bg-darker: #e5e5e5;

$blue-light: #00a1e4;
$blue-dark: #141b23;

$din-font: 'DINPro-Regular';
$din-font-bold: 'DINPro-Bold';
$din-font-light: 'DINPro-Light';
$bold-font: 'NeutraText-Bold';
$neutra: 'NeutraTextTF-Book';
$neutra-light: 'NeutraText-Light';
$italic: 'Times-Italic';
