<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Blog">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  <DictionaryItem Key="Blog.PreviousPost">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Previous post]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Previous post]]></Value>
  </DictionaryItem>
</DictionaryItem>