<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Common">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  <DictionaryItem Key="Common.Back">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Back]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Back]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Common.Search">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Search]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Search]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Common.Share">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Share]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Share]]></Value>
  </DictionaryItem>
</DictionaryItem>