<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Home">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  <DictionaryItem Key="Home.AboutUs">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[About us]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[About us [nl]]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Home.LatestTweet">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Latest tweet]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Latest tweet]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Home.OurProcess">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Our process]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Our process]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Home.WhatIsNew">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[What's new?]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[What's new?]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Home.WhatWeDo">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[What we do]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[What we do]]></Value>
  </DictionaryItem>
</DictionaryItem>