<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Search">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  <DictionaryItem Key="Search.NoSearchResults">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  </DictionaryItem>
</DictionaryItem>