<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Post</Name>
    <Alias>BlogPost</Alias>
    <Icon>icon-magazine.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog post document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>BlogPost</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogPost</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Header Image</Name>
      <Alias>headerImage</Alias>
      <Type>Umbraco.ImageCropper</Type>
      <Definition>7e468eeb-9ac8-46b2-a773-a128e61aaef8</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header image above content.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Main body</Name>
      <Alias>rteContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define main content using RTE.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>1508598e-b0e6-4bf8-8f69-5e8abbb040ce</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose blog author.]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Blog Title</Name>
      <Alias>blogTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Blog title.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Date</Name>
      <Alias>postDate</Alias>
      <Type>Umbraco.Date</Type>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Blog post date. Set this to overide sorting by post create date.]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Tags</Name>
      <Alias>blogTags</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>93ff6a30-539d-4e5d-9227-b8ef2e78ff8a</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose blog tags.]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>30</Id>
      <Caption>Content</Caption>
      <SortOrder>4</SortOrder>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>