<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Repository</Name>
    <Alias>Repository</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Repository.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Main</Master>
    <Compositions>
      <Composition>Main</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Footer</DocumentType>
    <DocumentType>Header</DocumentType>
    <DocumentType>Settings</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>