<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Process</Name>
    <Alias>Process</Alias>
    <Icon>icon-reliability.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Process document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Process</Template>
    </AllowedTemplates>
    <DefaultTemplate>Process</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>ProcessItem</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Main body</Name>
      <Alias>rteContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define main content using RTE.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>28</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>