<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Process">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  <DictionaryItem Key="Process.Challengers">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Challengers]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Challengers]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Process.WhatIsNew">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[What's new]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[What's new]]></Value>
  </DictionaryItem>
</DictionaryItem>