<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home page</Name>
    <Alias>Home</Alias>
    <Icon>icon-house.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Home page document type.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Home</Template>
    </AllowedTemplates>
    <DefaultTemplate>Home</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Services</DocumentType>
    <DocumentType>Team</DocumentType>
    <DocumentType>Technologies</DocumentType>
    <DocumentType>Process</DocumentType>
    <DocumentType>Blog</DocumentType>
    <DocumentType>News</DocumentType>
    <DocumentType>Error404</DocumentType>
    <DocumentType>Search</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Slider Image</Name>
      <Alias>sliderImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Home Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Home slider image. Dimensions are 1008x906 px.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Abstract Image</Name>
      <Alias>abstractImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Home Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Home abstract image. Dimensions are 725x812 px.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Slider Text</Name>
      <Alias>featuredText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Home Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Featured text over home slider.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Featured Button</Name>
      <Alias>featuredButton</Alias>
      <Type>RJP.MultiUrlPicker</Type>
      <Definition>df155e09-5604-4b36-9ecc-d93301f531b2</Definition>
      <Tab>Home Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[External or internal url.]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Featured Services</Name>
      <Alias>featuredServices</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>59dedff9-21b9-4ccb-b794-de352ec8313d</Definition>
      <Tab>Featured Services</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose featured services.]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>About Us</Name>
      <Alias>aboutText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>About Us</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[About us description.]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Link Button</Name>
      <Alias>linkButton</Alias>
      <Type>RJP.MultiUrlPicker</Type>
      <Definition>df155e09-5604-4b36-9ecc-d93301f531b2</Definition>
      <Tab>About Us</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[External or internal url.]]></Description>
      <SortOrder>6</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>41</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Id>42</Id>
      <Caption>Home Banner</Caption>
      <SortOrder>6</SortOrder>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Id>43</Id>
      <Caption>Featured Services</Caption>
      <SortOrder>7</SortOrder>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Id>44</Id>
      <Caption>About Us</Caption>
      <SortOrder>8</SortOrder>
      <SortOrder>8</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>