<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home page</Name>
    <Alias>Home</Alias>
    <Icon>icon-house.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Home page document type.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Home</Template>
    </AllowedTemplates>
    <DefaultTemplate>Home</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Services</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>