<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Partners Container</Name>
    <Alias>PartnersContainer</Alias>
    <Icon>icon-affiliate.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Partner network container document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Main</Master>
    <Compositions>
      <Composition>Main</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>PartnerItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>