/*----------  layout
------------------------------------------------------------------------------*/

html, body {
	height: 100%;
	@include font-smoothing(antialiased);
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: $din-font;
	font-size: 12px;
}
.wrapper {
	max-width: 1278px;
	margin: 0 auto;
	overflow: hidden;
	&.o-visible {
		overflow: visible;
	}
	@include breakpoint(phone) {
		&.centered {
			text-align: center;
		}
	}
}
.container {
	overflow-x: hidden;
}
.full-width {
	@include base-float;
	h2 {
		font-size: 48px;
		line-height: 50px;
	}
}

.content {
	@include base-float;
	padding: 100px 0 60px;
	.main {
		width: 73.47417840375587%;
		float: left;
	}
	.sidebar {
		width: 20.2660406885759%;
		float: right;
		margin-left: 6.25978090766823%;
		.widget {
			@include base-float;
			margin-bottom: 65px;
		}
	}
	@include breakpoint(phone) {
		padding: 35px 30px;
		.main {
			width: 100%;
			&.centered {
				text-align: center;
			}
		}
		.sidebar {
			display: none;
		}
	}
	@include breakpoint(tablet) {
		padding: 75px 25px 35px;
	}
}