/*----------  layout
------------------------------------------------------------------------------*/

html, body {
	height: 100%;
	@include font-smoothing(antialiased);
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: $din-font;
	font-size: 12px;
	&.fixed {
		position: fixed;
	}
}
.wrapper {
	max-width: 1278px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 30px;
	&.o-visible {
		overflow: visible;
	}
	@include breakpoint(phone) {
		&.centered {
			text-align: center;
		}
	}
}
.container {
	overflow-x: hidden;
}
.full-width {
	@include base-float;
	h2 {
		font-size: 48px;
		line-height: 50px;
	}
	@include breakpoint(phone) {
		h2 {
			font-size: 19px;
			line-height: 22px;
		}
	}
}

.content {
	@include base-float;
	padding: 90px 0 60px;
	.main {
		width: calc(100% - 340px);
		float: left;
	}
	.sidebar {
		width: 260px;
		float: right;
		.widget {
			@include base-float;
			margin-bottom: 65px;
		}
	}
	@include breakpoint(phone) {
		padding: 30px 0;
		.main {
			width: 100%;
			&.centered {
				text-align: center;
			}
		}
		.sidebar {
			display: none;
		}
	}
	@include breakpoint(tablet) {
		padding: 75px 0 35px;
		.main {
			width: calc(100% - 300px);
		}
	}
}

.show-on-mobile {
	display: none !important;
	@include breakpoint(phone) {
		display: inline-block !important;
	}
}

.hidden-on-mobile {
	display: inline-block !important;
	@include breakpoint(phone) {
		display: none !important;
	}
}
