<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Testimonial Container</Name>
    <Alias>TestimonialContainer</Alias>
    <Icon>icon-quoteup.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Testimonial container document type</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Main</Master>
    <Compositions>
      <Composition>Main</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>TestimonialItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>