<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Search</Name>
    <Alias>Search</Alias>
    <Icon>icon-search.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Search document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Search</Template>
    </AllowedTemplates>
    <DefaultTemplate>Search</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Items Per Page</Name>
      <Alias>itemsPerPage</Alias>
      <Type>Umbraco.Integer</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of results per page.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>39</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>