<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Footer</Name>
    <Alias>Footer</Alias>
    <Icon>icon-arrow-down.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Footer document type</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Repository</Master>
    <Compositions>
      <Composition>Repository</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>