<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>_Layout</Name>
  <Alias>_Layout</Alias>
  <Design><![CDATA[<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link href="favicon.ico" rel="icon" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="@ViewBag.SeoDescription">
    <meta name="keywords" content="@ViewBag.SeoKeywords" />
    <meta name="author" content="@ViewBag.SeoAuthor" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

    <script type="text/javascript" src="assets/scripts/libs/modernizr-2.6.2.min.js"></script>

    @RenderSection("additionalHeaderSection",false)
</head>
<body>

    <div class="container">
     
        @{Html.RenderAction("GetHeader", "LayoutSufraceController");}

        <div class="page-title">
            <div class="wrapper">
                <h1>PROCESS</h1>
            </div>
        </div>

        <div class="content">
           @RenderBody()
        </div>

        <footer class="footer">
            <section class="top">
                <img src="assets/img/star-texture.png" alt="" />
                <div class="wrapper">
                    <h2>Want to work with us?</h2>
                    <p>
                        Want to see what SmartCat can do for your business? <br> We can't wait to show you! Provide us your info in the field below.
                    </p>
                </div>
            </section>

            <div class="contact-block">
                <div class="wrapper">
                    <h4>Contact us</h4>

                    <form id="theForm" class="simform" autocomplete="off">
                        <div class="simform-inner">
                            <ol class="questions">
                                <li>
                                    <span><label for="q1">What's your name? <span>(Please fill the field before continuing)</span></label></span>
                                    <input id="q1" name="q1" type="text" />
                                </li>
                                <li>
                                    <span><label for="q2">Where do you live?</label></span>
                                    <input id="q2" name="q2" type="text" />
                                </li>
                                <li>
                                    <span><label for="q3">What time do you got to work?</label></span>
                                    <input id="q3" name="q3" type="text" />
                                </li>
                                <li>
                                    <span><label for="q4">How do you like your veggies?</label></span>
                                    <input id="q4" name="q4" type="text" />
                                </li>
                                <li>
                                    <span><label for="q5">What book inspires you?</label></span>
                                    <input id="q5" name="q5" type="text" />
                                </li>
                                <li>
                                    <span><label for="q6">What's your profession?</label></span>
                                    <input id="q6" name="q6" type="text" />
                                </li>
                            </ol><!-- /questions -->
                            <button class="submit" type="submit">Send answers</button>
                            <div class="controls">
                                <button class="next"></button>
                                <div class="progress"></div>
                                <span class="number">
                                    <span class="number-current"></span>
                                    <span class="number-total"></span>
                                </span>
                                <span class="error-message"></span>
                            </div><!-- / controls -->
                        </div><!-- /simform-inner -->
                        <span class="final-message"></span>
                    </form>

                    <ul class="social show-on-mobile">
                        <li>
                            <a href="https://github.com/smartcat-labs" class="ico github" target="_blank"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ico twitter"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ico stackoverflow"></a>
                        </li>
                        <li>
                            <a href="javascript:;" class="ico linked"></a>
                        </li>
                    </ul>
                    <a href="javascript:;" class="scroll-top show-on-mobile"></a>
                </div>
            </div>

            <div class="bottom">
                <div class="wrapper">
                    <div class="left">
                        <a href="index.html" class="logo">
                            <img src="assets/img/footer-logo.png" alt="" />
                        </a>
                        <p>
                            &copy;SmartCat 2015.All rights reserved. Design by <a href="http://www.weareelder.com" target="_blank">Elder</a>.
                        </p>
                    </div>
                    <ul class="info-list">
                        <li>
                            <span>
                                <i class="ico pin"></i>
                                Danila Kiša 3V/14, Novi Sad, 21000, Serbia
                            </span>
                        </li>
                        <li>
                            <a href="tel:+381216616557">
                                <i class="ico telephone"></i>
                                +381 (0)21 661 65 57
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@smartcat.io">
                                <i class="ico mail"></i>
                                info@smartcat.io
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <!-- javascript -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write("<script src='assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
    <script type="text/javascript" src="assets/scripts/libs/classie.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/stepsForm.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/grayscale.js"></script>

    <script type="text/javascript" src="assets/scripts/main/default.js"></script>
    <script type="text/javascript" src="assets/scripts/libs/functions.js"></script>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @RenderSection("additionalFooterSection", false)

</body>
</html>
]]></Design>
</Template>