<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Container</Name>
    <Alias>Blog</Alias>
    <Icon>icon-buttonb.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog container document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Blog</Template>
    </AllowedTemplates>
    <DefaultTemplate>Blog</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>BlogPost</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>News Sidebar Widget</Name>
      <Alias>newsWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>6b5d6af2-1395-4990-afd1-713efebacf48</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose news posts for sidebar widget.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Team Sidebar Widget</Name>
      <Alias>teamWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>be081fa2-73c3-4ffb-939f-e66407703266</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose team members for sidebar widget.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Service Sidebar Widget</Name>
      <Alias>serviceWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>59dedff9-21b9-4ccb-b794-de352ec8313d</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose services for sidebar widget.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>38</Id>
      <Caption>Sidebar</Caption>
      <SortOrder>7</SortOrder>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>