<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog</Name>
    <Alias>Blog</Alias>
    <Icon>icon-buttonb.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Blog container document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>BlogPost</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>