<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Partner Item</Name>
    <Alias>PartnerItem</Alias>
    <Icon>icon-briefcase.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Partner item document type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Main</Master>
    <Compositions>
      <Composition>Main</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Partner Image</Name>
      <Alias>partnerImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select partner image.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Partner Url</Name>
      <Alias>partnerUrl</Alias>
      <Type>RJP.MultiUrlPicker</Type>
      <Definition>df155e09-5604-4b36-9ecc-d93301f531b2</Definition>
      <Tab>Home Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[External or internal url.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>52</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Id>53</Id>
      <Caption>Home Banner</Caption>
      <SortOrder>6</SortOrder>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>