<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Widgets</Name>
    <Alias>Widgets</Alias>
    <Icon>ico-pin.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>For defining widgets content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Repository</Master>
    <Compositions>
      <Composition>Repository</Composition>
    </Compositions>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>News Sidebar Widget</Name>
      <Alias>newsWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>2e1e4ae1-a403-427b-bbb7-12bf80e2c76f</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose news posts for sidebar widget.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Team Sidebar Widget</Name>
      <Alias>teamWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>be081fa2-73c3-4ffb-939f-e66407703266</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose team members for sidebar widget.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Service Sidebar Widget</Name>
      <Alias>serviceWidget</Alias>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Definition>59dedff9-21b9-4ccb-b794-de352ec8313d</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose services for sidebar widget.]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Number Of News Items</Name>
      <Alias>numberOfNewsItems</Alias>
      <Type>Umbraco.Integer</Type>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Tab>Sidebar</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number of news items shown in sidebar widget.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>58</Id>
      <Caption>Sidebar</Caption>
      <SortOrder>17</SortOrder>
      <SortOrder>17</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>