/*----------  icons
------------------------------------------------------------------------------*/

.ico {
	display: inline-block;
	&.star {
		@include sprite(star);
	}
	&.phone {
		@include sprite(ico-phone);
	}
	&.github {
		@include sprite(ico-github);
	}
	&.linked {
		@include sprite(ico-linked);
	}
	&.stackoverflow {
		@include sprite(ico-stackoverflow);
	}
	&.twitter {
		@include sprite(ico-twitter);
	}
	&.mail {
		@include sprite(ico-mail);
	}
	&.telephone {
		@include sprite(ico-telephone);
	}
	&.pin {
		@include sprite(ico-pin);
	}
	&.title-ico {
		@include sprite(ico-logo);
		margin: 0 10px -4px 0;
	}
	&.arrow-acc-down {
		@include sprite(arrow-acc-down);
	}
	&.cat {
		@include sprite(ico-cat);
	}
	@include breakpoint(phone){
		&.cat {
			@include sprite(ico-cat-mobile);
		}
	}
}


/*
.ico {
	display: inline-block;
	position: absolute;
	top: 50%;
	&.star {
		@include sprite('star');
		margin-top: -((image-height("icons/star.png"))/2);
	}
}
*/