<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DictionaryItem Key="Service">
  <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
  <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  <DictionaryItem Key="Service.Associations">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Associations]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Associations]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Service.Certificates">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Certificates]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Certificates]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Service.Challengers">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[Challengers]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[Challengers]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Service.OtherServices">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[]]></Value>
  </DictionaryItem>
  <DictionaryItem Key="Service.WhatIsNew">
    <Value LanguageId="1" LanguageCultureAlias="en-US"><![CDATA[What's new]]></Value>
    <Value LanguageId="2" LanguageCultureAlias="nl-NL"><![CDATA[What's new]]></Value>
  </DictionaryItem>
</DictionaryItem>