<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Service Item</Name>
    <Alias>ServiceItem</Alias>
    <Icon>icon-databaseadd.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Service item document type</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Page</Master>
    <Compositions>
      <Composition>Page</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Service</Template>
    </AllowedTemplates>
    <DefaultTemplate>Service</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Image</Name>
      <Alias>serviceImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Service image.]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Title Image</Name>
      <Alias>serviceTitleImage</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Service title image.]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Main body</Name>
      <Alias>serviceContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define main content using RTE.]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Main body</Name>
      <Alias>rteContent</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define main content using RTE.]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>21</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>