/*----------  process block
------------------------------------------------------------------------------*/
.process-block {
	background: $grey-bg;
	padding: 108px 0 180px;
	h2 {
		margin-bottom: 70px;
	}
	ul {
		@include base-float;
		li {
			float: left;
			width: 17.915%;
			margin-right: 2.60625%;
			h3 {
				margin-bottom: 30px;
				text-transform: uppercase;
				font-size: 30px;
				line-height: 30px;
				font-family: $din-font-light;
				span {
					color: $blue-light;
					margin-right: 4px;
				}
			}
			p {
				font-size: 16px;
				line-height: 24px;
				color: #7d7d7d;
				padding-right: 25px;
				margin-bottom: 0;
				@include transition(color 0.3s);
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				h3 {
					font-family: $din-font-bold;
				}
				p {
					color: #2f2f2f;
				}
				.ico {
					@include sprite(ico-arrow-more-h);
				}
			}
		}
	}
	@include breakpoint(tablet){
		ul li {
			h3 {
				font-size: 25px;
			}
			p {
				
			}
		}
	}
	@include breakpoint(phone) {
		padding: 45px 0;
		h2 {
			margin-bottom: 30px;
		}
		ul {
			width: 2000em;
			li {
				h3 {
					font-size: 18px;
					line-height: 20px;
					margin-bottom: 12px;
				}
				p {
					font-size: 15px;
					line-height: 20px;
					padding: 0;
				}
			}
		}
	}
	@media only screen and (min-width: 769px) {
		ul li {
			width: 17.915% !important;
		}
	}
}

/*----------  testimonials block
------------------------------------------------------------------------------*/
.testimonials-block {
	padding: 122px 0 80px;
	text-align: center;
	border-bottom: 1px solid #efefef;
	h2 {
		margin-bottom: 25px;
	}
	blockquote {
		color: #ababab;
		margin: 0 auto 28px;
		position: relative;
		width: 77%;
		display: inline-block;
		font-size: 18px;
		padding: 0 24px;
		&:after,
		&:before {
			position: absolute;
			top: 0;
			font-size: 60px;
			line-height: 36px;
		}
		&:after {
			right: 0;
			content: close-quote;
		}
		&:before {
			left: 0;
			content: open-quote;
		}
	}
	.author {
		color: $blue-light;
		display: block;
		font-size: 18px;
		font-family: $din-font-bold;
	}
	@include breakpoint(phone) {
		padding: 30px 0;
		blockquote {
			width: 100%;
			font-size: 15px;
		}
		.author {
			font-size: 12px;
		}
	}
}

/*----------  about Us block
------------------------------------------------------------------------------*/
.about-us-block {
	padding-bottom: 72px;
	h2 {
		margin-bottom: 58px;
	}
	.rte-content {
		margin-bottom: 50px;
	}
	@include breakpoint(phone) {
		border-top: 1px solid $grey-bg;
		padding: 30px 0;
		h2 {
			margin-bottom: 15px;
		}
		.rte-content {
			margin-bottom: 20px;
		}
	}
}

/*----------  contact block
------------------------------------------------------------------------------*/
.contact-block {
	padding: 120px 0 130px;
	h4 {
		font-size: 24px;
		font-weight: bold;
		color: $blue-light;
		margin-bottom: 20px;
	}
	@include breakpoint(phone) {
		padding: 45px 0;
		h4 {
			text-align: center;
		}
	}
	@include breakpoint(tablet) {
		padding: 60px 0;
	}
}

/*---------- carousel section
------------------------------------------------------------------------------*/
.carousel-block {
	text-align: center;
	padding: 77px 0;
	h2 {
		margin-bottom: 65px;
	}
	.flexslider {
		padding: 0 119px;
		float: none;
		margin: 0 auto;
		height: 150px;
		.slides {
			li {
				max-width: 20% !important;
				a {
					display: block;
				}
				img {
					width: auto;
					max-width: 80%;
					margin: 0 auto;
					@include vertical-align;
					@include opacity(0.5);
					@include transition(opacity, 0.5s ease-out);
				}
				&:hover {
					img {
						@include opacity(1);
					}
				}
			}
		}
		.flex-direction-nav a {
			height: 50px;
			margin-top: -25px;
		}
		.flex-viewport,
		.slides,
		.slides > li,
		.slides > li > a {
			height: 100%;
		}
	}
	@include breakpoint(phone) {
		padding: 28px 0 0 0;
		h2 {
			margin-bottom: 0;
		}
		.flexslider {
			padding: 0 30px;
			height: 113px;
			.slides li {
				max-width: 100% !important;
			}
			.flex-direction-nav a {
				&.flex-next {
					right: 0;
				}
				&.flex-prev {
					left: 0;
				}
			}
		}
	}
}

/*---------- whart we do block
------------------------------------------------------------------------------*/
.what-we-do-block {
	padding: 100px 0;
	h3 {
		font-size: 20px;
		line-height: 22px;
		font-family: $bold-font;
		margin-bottom: 20px;
	}	
	h2 {
		font-size: 30px;
		margin-bottom: 13px;
		display: none;
		a {
			color: $black;
			@include transition(color 0.3s);
			&:hover {
				color: $blue-light;
			}
		}
	}
	.ico.arrow-more {
		&:hover {
			@include sprite(ico-arrow-more-h);
		}
	}
	.wrapper {
		overflow: visible;
		@extend %clearfix;
	}
	.one-fourth, 
	.one-third {
		float: left;
	}
	.romb-wrap {
		@include base-float;
		height: 0;
		margin: 40px 0 80px;
		padding: 0 10.1% 82% 18.75%;
	}
	.top {
		@include base-float;
		z-index: 5;
		position: relative;
		.box-title {
			@include base-float;
			position: relative;
			bottom: -1px;
			h4 {
				background: #141b23;
				text-transform: uppercase;
				font-size: 17px;
				line-height: 30px;
				color: $white;
				display: inline-block;
				margin-bottom: 0;
				padding: 0 8px 1px;
			}
		}
		.img-wrap {
			@include base-float;
			position: relative;
			z-index: 5;
			background: #1595bf url(../img/blue-bg.png) no-repeat center center;
			background-size: cover;
			text-align: center;
			@include transition (all 0.5s ease-in-out);
			.icon-img {
				// @include vertical-align;
				width: 100%;
			}
		}
		&:hover {
			z-index: 30;
			.img-wrap {
				background: #141b23;
				width: 110%;
				height: 110%;
				z-index: 30;
				@include box-shadow(-5px 5px 12px rgba(0,0,0,.45));
			}
			.box-title h4 {
				color: #00a1e4;
			}
		}
	}
	.text {
		@include base-float;
		padding-left: 16%;
		text-align: center;
	}

	@media only screen and (min-width: 769px) {
		.one-fourth, 
		.one-third {
			margin-right: 0 !important;
		}
		.one-fourth {
			width: 24.4% !important;
		}
		.one-third {
			width: 32.3% !important;
		}
	}
	@include breakpoint(phone) {
		padding: 50px 0;
		.swiper-wrapper {
			width: 2000em;
		}
		h2 {
			display: block;
			font-size: 19px;
			line-height: 20px;
			margin-bottom: 0;
		}
		h3 {
			display: none;
		}
		.btn {
			height: 40px;
			line-height: 40px;
			padding: 0 20px;
		}
		.top .box-title h4 {
			display: none;
		}
		.one-fourth,
		.one-third {

		}
		.romb-wrap {
			width: 200px;
			padding: 40px;
			height: auto;
			margin: 15px auto 20px auto;
			float: none;
			overflow: hidden;
		}
		.text {
			padding-left: 0;
			h2 {
				margin-bottom: 13px;
			}
		}
	}
	@include breakpoint(touch) {
		.top:hover {
			.img-wrap {
				width: 100%;
				height: 100%;
				@include transition(none);
			}
		}		
	}
	@include breakpoint(tablet) {
		h2 {
			display: block;
			font-size: 48px;
		}
		.swiper-wrapper h2 {
			font-size: 30px;
		}
		.one-fourth,
		.one-third {
			width: 100% !important;
			&.right-aligned {
				.romb-wrap {
					float: right;
					margin: 40px 25px 40px 0;
				}
				.text {
					float: left;
				}
			}
		}
		.one-third {
			.romb-wrap {
				width: 160px;
				margin: 40px 0 0 5px;
			}
			.text {
				width: calc(100% - 200px);
			}
			&.right-aligned {
				.romb-wrap {
					margin: 40px 5px 40px 0;
				}
			}
		}
		.romb-wrap {
			width: 230px;
			margin: 40px 0 0 25px;
			padding: 20px 20px 28% 20px;
		}
		.text {
			width: calc(100% - 310px);
			padding: 0;
			float: right;
			text-align: left;
			margin-top: 30px;
		}
		.top .box-title h4 {
			display: none;
		}
	}
	@include breakpoint(desktop) {
		.top .box-title h4 {
			font-size: 14px;
		}
	}
	@include breakpoint(desktop-large){
		.one-fourth {
			position: relative;
			//height: 520px;
		}
		.one-third {
			position: relative;
			//height: 470px;
		}
		.text {
			/*position: absolute;
			bottom: 0;
			left: 0;
			right: 0;*/
		}
	}
}

/*---------- homepage slider
------------------------------------------------------------------------------*/
.home-slider {
	background: #2f4154 url(../img/Background.jpg) no-repeat center top;
	position: relative;
	@include base-float;
	.caption {
		max-width: 50%;
		.inner {
			@include base-float;
			h2 {
				color: $white;
				font-size: 66px;
				line-height: 76px;
				font-family: $neutra-light;
				span {
					font-family: $bold-font;
					text-transform: uppercase;
					&.black {
						color: $blue-dark;
					}
				}
			}
			p {
				color: $white;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 30px;
			}
		}
		.btn {
			color: $white;
			padding: 0 25px;
		}
	}
	.tparrows {
		top: auto !important;
		bottom: 200px !important;
		.tp-arr-titleholder {
			display: none !important;
		}
		&.preview3 {
			background-color: $blue-dark;
			width: 125px;
			height: 125px;
			&:after {
				background-color: $blue-dark;
				color: $white;
				width: 125px;
				height: 125px;
			}
			&:hover {
				&:after {
					color: $white;
					@include rgba-background(rgba(0, 0, 0, 0.25));
				}
			}
			&.tp-leftarrow {
				right: 425px!important;
				left: auto !important;
				.tp-arr-iwrapper {
					padding-left: 0;
					top: 0;
				}
			}
			&.tp-rightarrow {
				padding-right: 0;
				right: 300px!important;
				.tp-arr-iwrapper {
					padding-right: 0 !important;
					top: 0!important; 
				}
			}
		}
		.tp-arr-iwrapper {
			width: 125px !important;
			position: relative;
		}
	}

	.tp-arr-allwrapper {
		visibility: visible !important;
		-khtml-opacity: 1 !important;
  		opacity: 1 !important;
		transform: none !important;
		.tp-arr-iwrapper {
			transform: none !important;
			@include opacity(1);
			transform: none !important;
			.tp-arr-imgholder {
				transform: none !important;
			}
		}
	}
	.tp-bannertimer {
		display: none;
	}
	.bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		.shape-wrapper {

		}
		.triangle-down-left {
		    width: 58.33%;
		    float: left;
		    height: 0;
		    overflow: hidden;
		}
		.triangle-down-left:after {
		    content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    border-right: 500px solid transparent;
		    border-bottom: 500px solid #4679BD;
		}

		.triangle-down-right {
		    width: 41.67%;
		    height: 0;
		    overflow: hidden;
		}
		.triangle-down-right:after {
		    content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    margin-top:-500px;
		    
		    border-top: 500px solid transparent;
		    border-right: 500px solid #4679BD;
		}
	}
}


/*----------  Home banner
------------------------------------------------------------------------------*/
.home-banner {
	background: #2f4154 url(../img/Background.jpg) no-repeat center top;
	position: relative;
	@include base-float;
	height: 1080px;
	overflow: hidden;
	.caption {
		max-width: 58%;
		position: relative;
		z-index: 10;
		margin-top: 16%;
		.inner {
			@include base-float;
			h2 {
				color: $white;
				font-size: 62px;
				line-height: 72px;
				font-family: $neutra-light;
				span {
					font-family: $bold-font;
					text-transform: uppercase;
					&.black {
						color: $blue-dark;
					}
				}
			}
			p {
				color: $white;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 30px;
			}
		}
		.btn {
			color: $white;
			padding: 0 25px;
		}
	}
	.wrapper {
		position: relative;
		height: 100%;
	}
	.main-img {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 68.67658574784652%;
	}
	.lines {
		position: absolute;
		bottom: 11%;
    	left: 8.8%;
    	width: 51.76194205168363%;
	}
	.bottom {
		.left-box,
		.right-box {
			position: absolute;
			bottom: 0;
		}
		.left-box {
			width: 58.02083333333333%;
			left: 0;
		}
		.right-box {
			width: 41.97916666666667%;
			right: 0;
		}
		.text-widget {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 20;
			.wrapper {
				position: relative;
				padding-bottom: 7%;
			}
			.twitter-box {
				position: relative;
				width: 260px;
				z-index: 12;
				bottom: 10%;
				left: 0;
				bottom: 10%;
			}
			h3 {
				color: $blue-dark;
				font-family: $din-font-bold;
				font-size: 22px;
				padding-left: 28px;
				background: transparent url(../img/icons/twitter-black.png) no-repeat left center;
				margin-bottom: 20px;
			}
			p {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 4px;
			}
			span {
				display: block;
			}
			.author {
				color: $blue-light;
				margin-bottom: 15px;
			}
		}
	}
	@include breakpoint(tablet){
		.main-img {
			width: 100%;
    		right: -15%;
		}
		.lines {
		    left: 8.8%;
		    bottom: 0;
		    width: 65.761942%;
		}
		.caption {
			max-width: 62%;
		}
		.bottom .text-widget .wrapper {
		    padding-bottom: 2%;
		}
	}
	@include breakpoint(phone){
		height: 310px;
		.bottom,
		.lines {
			display: none;
		}
		.main-img {
			bottom: -85px;
			right: -30px;
			width: 80%;
		}
		.caption {
			max-width: 85%;
			padding-top: 15px;
			.inner {
				h2 {
					font-size: 28px;
					line-height: 36px;
					margin-bottom: 25px;
					span {
						display: block;
						&.black {
							color: $white;
						}
					}
				}
				 p{
				 	display: none;
				 }
			}
			
		}
	}
}

.triangle-box {
	width: 100%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	bottom: -4px;
    .triangle {
		width: 0;
		height: 0;
		position: relative;
		display: inline-block;
    }
    .bottomleft {
        border-bottom: solid $white;
        border-right: solid transparent;
    }
    .bottomright {
        border-bottom: solid $white;
        border-left: solid transparent;
    }
}

// firefox specific
@-moz-document url-prefix() { 
  	.bottomright,
  	.bottomleft {
  		border-style: inset;
  	}
}
  
/*----------  One three
------------------------------------------------------------------------------*/
.one-three {
	@include base-float;
	padding: 0 6.812842599843383%;
	.column {
		width: 33.333333%;
		float: left;
		padding-bottom: 25px;
		.item {
			@include base-float;
			padding: 0 14.43626373626374%;
			text-align: center;
			h4 {
				font-size: 18px;
				a {
					color: #2f2f2f;
					@include transition(color 0.3s);
				}
			}
			
		}
		.top {
			position: relative;
			h4 {
				float: right;
			    background: #141b23;
			    text-transform: uppercase;
			    font-size: 17px;
			    line-height: 30px;
			    color: white;
			    display: inline-block;
			    margin-bottom: 0;
			    padding: 0 8px 1px;
			    @include transition(color 0.3s);
			}
		}
		.img-container {
			overflow:hidden;
			@include base-float;
			position: relative;
			img {
				position: absolute;
				min-height: 100%;
				width: 100%;
				top: -9999px;
			    bottom: -9999px;
			    left: -9999px;
			    right: -9999px;
			    margin: auto;
			    @include rotate(45);
			    min-width: 360px;
			}
			
			&:after {
				bottom: -2px;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #efefef;
				border-width: 30px;
				margin-left: -30px;
				z-index: 30;
			}
		}
		.text {
			background: $grey-bg;
			@include base-float;
			padding: 0 15px;
			overflow: hidden;
			.inner {
				background: $grey-bg;
				width: 95%;
				display: inline-block;
				width: 88%;
			    display: inline-block;
			    margin-left: -2%;
   				margin-top: 17%;
				h4 {
					font-size: 18px;
					line-height: 20px;
					margin-bottom: 10px;
					padding: 0 10px;
					margin-top: 15px;
					font-family: $bold-font;
					@include transition(color 0.3s);
				}
				p {
					font-size: 14px;
					line-height: 16px;
				}
				span {
					font-size: 10px;
				}
			}
		}
		.overlay {
			position: absolute;
			width: 94px;
			height: 94px;
			margin: auto;
			background: transparent url(../img/news-hover-bg.jpg) no-repeat 0 0;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 15;
		}
		.badge-holder {
			height: 60px;
			width: 60px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 20;
			color: $white;
			font-family: $bold-font;
			font-size: 58px;
			line-height: 60px;
			margin: auto;
			.reset-inner {
				margin-left: 3px;
			}
		}
	}

	@include breakpoint(desktop-large){
		.column .item:hover {
			.text h4 a,
			.top h4 {
				color: $blue-light;
			}
			.overlay {
				width: 100%;
				height: 100%;
				@include transition(all .25s ease-in-out);
			}
		}
		.date {
			display: none;
		}
	}
	@include breakpoint(desktop){
		.column .item {
				&:hover {
				.text h4 a,
				.top h4 {
					color: $blue-light;
				}
				.overlay {
					width: 100%;
					height: 100%;
					@include transition(all .25s ease-in-out);
				}
			}
			.text .inner {
				width: 95%;
				margin-top: 6%;
			}
		}
		.date {
			display: none;
		}
	}
	@include breakpoint(tablet){
		.column {
			.text {
				p {
					display: none;
				}
				.inner {
					width: 100%;
					margin-left: 2%;
   					margin-top: 10%;
					h4 {
						font-size: 22px;
						line-height: 26px;
						padding: 0;
						margin-bottom: 10px;
					}
					span {
						font-size: 12px;
					}
				}
			}
			.overlay {
			    width: 80px;
			    height: 80px;
			}
		}
		.date {
			display: block;
		}
	}
	@include breakpoint(phone){
		padding: 0;
		.column {
			display: none;
			width: 100%;
			&:first-of-type {
				display: block;
			}
			.item,
			.img-container img,
			.text .inner {
				@include rotate(0);
			}
			.img-container:after {
				border-bottom-color: $white;
			}
			.item {
				padding: 0;
			}
			.text {
				height: auto !important;
				background: $white;
				margin-top: 28px;
				p {
					display: none;
				}
				.inner {
					background: $white;
					margin-top: 0;
					h4 {
						font-size: 26px;
						line-height: 32px;
						padding: 0 10px;
						margin-bottom: 10px;
					}
					span {
						font-size: 12px;
					}
				}
			}
			.top h4 {
				display: none;
			}
			.overlay {
				@include rotate(45);
			}
			.badge-holder {
				@include rotate(-45);
			}
		}
		.date {
			display: block;
		}
	}
}

.news-block {
	@include base-float;
	padding: 130px 0 170px;
	h2 {
		float: left;
		margin-bottom: 60px;
	}
	.btn {
		float: right;
	}
	@include breakpoint(tablet){
		padding-top: 110px;
		h2 {
			margin-bottom: 75px;
		}
	}
	@include breakpoint(phone){
		padding: 22px 0 30px;
		h2 {
			text-align: center;
			margin-bottom: 22px;
			float: none;
		}
		.btn {
			display: none;
		}
	}
}

.people-slider {
	background: $grey-bg;
	padding: 85px 0 50px;
	.flexslider {
		height: auto;
	}
	.left-block {
		width: 48.51330203442879%;
		float: left;
	}
	.right-block {
		float: left;
		// width: 51.48669796557121%;
		width: calc(51.48669796557121% - 140px);
		.info {
			@include base-float;
			padding: 20% 0 0 60px;
		}
	}
	.flex-control-nav {
		display: none;
	}
	.flexslider .flex-direction-nav {
		position: absolute;
		top: 40%;
		right: 0;
		li {
			width: 88px;
			height: 88px;
			background: $white;
			text-align: center;
			position: relative;
			@include transition(all 0.3s ease-in-out);
			a {
				margin-top: -25px;
				width: 35px;
   				height: 50px;
   				padding: 15px;
   				background: url(../img/direction_people.png) no-repeat 0 0;
   				&.flex-next {
   					right: 28px;
   					background-position: 100% 0;
   				}
   				&.flex-prev {
   					left: 28px;
   				}
			}
			&:hover {
				a {
					background: url(../img/direction_people_hover.png) no-repeat 0 0;
					&.flex-next {
						background-position: 100% 0;
					}
				}
   					background: $blue-light;
   				}
		}
	}
	@include breakpoint(desktop){
		.right-block {
			width: 51.48669796557121%;
			.info {
				padding: 30px 0 0 30px;
			}
		}
		.flexslider {
			padding-bottom: 145px;
			.flex-direction-nav {
				bottom: 0;
				width: 51.48669796557121%;
				padding-left: 30px;
				left: auto;
				right: 0;
				top: auto;
				margin: 30px 0;
				li {
					float: left;
					margin: 0 1px;
				}
			}
		}
	}
	@include breakpoint(tablet){
		.right-block {
			width: 51.48669796557121%;
			.info {
				padding: 30px 0 0 30px;
			}
		}
		.flexslider {
			padding-bottom: 145px;
			.flex-direction-nav {
				bottom: 0;
				width: 51.48669796557121%;
				padding-left: 30px;
				left: auto;
				right: 0;
				top: auto;
				margin: 30px 0;
				li {
					float: left;
					margin: 0 1px;
				}
			}
		}
	}
	@include breakpoint(phone){
		.right-block,
		.left-block {
			width: 100%;
		}
		.right-block .info {
			padding: 100px 0 0 0;
			text-align: center;
			h2 {
				font-size: 25px;
				line-height: 32px;
				margin-bottom: 5px;
			}
			blockquote {
				display: none;
			}
			.position {
				font-size: 14px;
			}
			.contact-box {
				text-align: center;
				padding: 0 20px;
				border: none;
				height: auto;
				margin-bottom: 20px;
				a {
					float: none;
					width: auto;
					margin-bottom: 10px;
				}
				.phone {
					background: transparent;
					border: none;
				}
			}
		}
		.flexslider {
			.flex-direction-nav {
				width: auto;
				top: auto;
				bottom: 400px;
				right: 50%;
				margin-right: -88px;
				li {
					float: left;
					margin: 0 1px;
				}
			}
		}
	}
}


.info {
	h2 {
		font-size: 50px;
		line-height: 50px;
	}
	.position {
		color: $blue-light;
		font-size: 24px;
		display: block;
		margin-bottom: 18px;
	}
	p {
		margin-bottom: 40px;
	}
	blockquote {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 35px;
		@include base-float;
		color: $grey-light;
	}
	.contact-box {
		@include base-float;
		margin-bottom: 40px;
		height: 50px;
		a {
			width: 50%;
			float: left;
			line-height: 48px;
			display: block;
			margin-bottom: 18px;
		}
		p {
			margin-bottom: 40px;
		}
		blockquote {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 35px;
			@include base-float;
			color: $grey-light;
		}
		.contact-box {
			@include base-float;
			margin-bottom: 40px;
			height: 50px;
			a {
				width: 50%;
				float: left;
				line-height: 48px;
				display: block;
				text-align: center;
				text-transform: uppercase;
				border: 1px solid #141b23;
				&.mail {
					background: #141b23;
					color: $white;
					float: left;
					font-size: 14px;
					.ico {
						margin: 0 10px -3px 0;
						@include sprite(ico-mail-white);
					}
				}
				&.phone {
					background: $white;
					color: #141b23;
					float: right;
					font-size: 17px;
					font-family: $din-font-bold;
					.ico {
						@include sprite(ico-phone-black);
						margin-right: 10px;
					}
				}
			}
		}
	}
}