/*----------  process block
------------------------------------------------------------------------------*/
.process-block {
	background: $grey-bg;
	padding: 108px 0 180px;
	h2 {
		margin-bottom: 70px;
	}
	ul {
		@include base-float;
		li {
			float: left;
			width: 17.915%;
			margin-right: 2.60625%;
			h3 {
				margin-bottom: 30px;
				text-transform: uppercase;
				font-size: 30px;
				line-height: 30px;
				font-family: $din-font-light;
				span {
					color: $blue-light;
					margin-right: 4px;
				}
			}
			p {
				font-size: 16px;
				line-height: 24px;
				color: #7d7d7d;
				padding-right: 25px;
				margin-bottom: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				h3 {
					font-family: $din-font-bold;
				}
				p {
					color: #2f2f2f;
				}
				.ico {
					@include sprite(ico-arrow-more-h);
				}
			}
		}
	}
}

/*----------  testimonials block
------------------------------------------------------------------------------*/
.testimonials-block {
	padding: 122px 0 80px;
	text-align: center;
	border-bottom: 1px solid #efefef;
	h2 {
		margin-bottom: 25px;
	}
	blockquote {
		color: #ababab;
		margin:0 auto 28px;
		position: relative;
		width: 77%;
		display: inline-block;
		font-size: 18px;
		padding: 0 24px;
		&:after,
		&:before {
			position: absolute;
			top: 0;
			font-size: 60px;
			line-height: 36px;
		}
		&:after {
			right: 0;
			content: close-quote;
		}
		&:before {
			left: 0;
			content: open-quote;
		}
	}
	.author {
		color: $blue-light;
		display: block;
		font-size: 18px;
		font-family: $din-font-bold;
	}
}

/*----------  about Us block
------------------------------------------------------------------------------*/
.about-us-block {
	padding-bottom: 72px;
	h2 {
		margin-bottom: 58px;
	}
}

/*----------  contact block
------------------------------------------------------------------------------*/
.contact-block {
	padding: 120px 0 130px;
	h4 {
		font-size: 24px;
		font-weight: bold;
		color: $blue-light;
		margin-bottom: 20px;
	}
	@include breakpoint(phone) {
		padding: 45px 0;
	}
	@include breakpoint(tablet) {
		padding: 60px 0;
	}
}

/*---------- carousel section
------------------------------------------------------------------------------*/
.carousel-block {
	text-align: center;
	padding: 77px 0;
	h2 {
		margin-bottom: 65px;
	}
	.flexslider {
		padding: 0 119px;
		float: none;
		margin: 0 auto;
		height: 150px;
		.slides {
			li {
				max-width: 20% !important;
				a {
					display: block;
				}
				img {
					width: auto;
					max-width: 80%;
					margin: 0 auto;
					@include vertical-align;
					@include opacity(1);
					@include transition(opacity, 0.5s ease-out);
				}
				&:hover {
					img {
						@include opacity(0.5);
					}
				}
			}
		}
		.flex-direction-nav a {
			height: 50px;
			margin-top: -25px;
		}
		.flex-viewport,
		.slides,
		.slides > li,
		.slides > li > a {
			height: 100%;
		}
	}
}

/*---------- whart we do block
------------------------------------------------------------------------------*/
.what-we-do-block {
	padding: 100px 0;
	h3 {
		font-size: 20px;
		line-height: 22px;
		font-family: $bold-font;
		margin-bottom: 20px;
	}	
	h2 {
		font-size: 30px;
		margin-bottom: 13px;
		display: none;
		a {
			color: $black;
			@include transition(color 0.3s);
			&:hover {
				color: $blue-light;
			}
		}
	}
	.ico.arrow-more {
		&:hover {
			@include sprite(ico-arrow-more-h);
		}
	}
	.wrapper {
		overflow: visible;
		@extend %clearfix;
	}
	.one-fourth {
		width: 24.4%;
		float: left;	
	}
	.one-third {
		width: 32.3%;
		float: left;
	}
	.romb-wrap {
		@include base-float;
		margin: 40px 0 80px;
		padding: 0 10.1% 0 18.75%;
	}
	.top {
		@include base-float;
		z-index: 5;
		position: relative;
		.box-title {
			@include base-float;
			position: relative;
			bottom: -1px;
			h4 {
				background: #141b23;
				text-transform: uppercase;
				font-size: 17px;
				line-height: 30px;
				color: $white;
				display: inline-block;
				margin-bottom: 0;
				padding: 0 8px 1px;
			}
		}
		.img-wrap {
			@include base-float;
			position: relative;
			z-index: 5;
			background: #1595bf url(../img/blue-bg.png) no-repeat center center;
			background-size: cover;
			text-align: center;
			@include transition (all 0.5s ease-in-out);
			.icon-img {
				// @include vertical-align;
				width: 100%;
			}
		}
		&:hover {
			z-index: 30;
			.img-wrap {
				background: #141b23;
				width: 110%;
				height: 110%;
				z-index: 30;
				@include box-shadow(-5px 5px 12px rgba(0,0,0,.45));
			}
			.box-title h4 {
				color: #00a1e4;
			}
		}
	}
	.text {
		@include base-float;
		padding-left: 16%;
		text-align: center;
	}
	@include breakpoint(phone) {
		h2 {
			display: block;
			font-size: 19px;
			line-height: 20px;
		}
		h3 {
			display: none;
		}
		.btn {
			height: 40px;
			line-height: 40px;
			padding: 0 20px;
		}
		.top .box-title h4 {
			display: none;
		}
		.one-fourth,
		.one-third {
			width: 100%;
			&.right-aligned {
				
			}
		}
		.romb-wrap {
			width: 200px;
			padding: 40px;
			margin: 20px auto;
			float: none;
			overflow: hidden;
		}
		.text {
			padding-left: 0;
		}
	}
	@include breakpoint(tablet) {
		h2 {
			display: block;
		}
		.one-fourth,
		.one-third {
			width: 100%;
			&.right-aligned {
				.romb-wrap {
					float: right;
					margin: 40px 25px 40px 0;
				}
				.text {
					float: left;
				}
			}
		}
		.one-third {
			.romb-wrap {
				width: 160px;
				margin: 40px 0 40px 5px;
			}
			.text {
				width: calc(100% - 200px);
			}
			&.right-aligned {
				.romb-wrap {
					margin: 40px 5px 40px 0;
				}
			}
		}
		.romb-wrap {
			width: 230px;
			margin: 40px 0 40px 25px;
			padding: 20px;
		}
		.text {
			width: calc(100% - 310px);
			padding: 0;
			float: right;
			text-align: left;
			margin-top: 30px;
		}
		.top .box-title h4 {
			display: none;
		}
	}
	@include breakpoint(desktop) {
		.top .box-title h4 {
			font-size: 14px;
		}
	}
	@include breakpoint(desktop-large){
		.one-fourth {
			position: relative;
			height: 520px;
		}
		.one-third {
			position: relative;
			height: 470px;
		}
		.text {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

/*---------- homepage slider
------------------------------------------------------------------------------*/
.home-slider {
	background: #2f4154 url(../img/Background.jpg) no-repeat center top;
	position: relative;
	@include base-float;
	.caption {
		max-width: 50%;
		.inner {
			@include base-float;
			h2 {
				color: $white;
				font-size: 66px;
				line-height: 76px;
				font-family: $neutra-light;
				span {
					font-family: $bold-font;
					text-transform: uppercase;
					&.black {
						color: $blue-dark;
					}
				}
			}
			p {
				color: $white;
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 30px;
			}
		}
		.btn {
			color: $white;
			padding: 0 25px;
		}
	}
	.tparrows {
		top: auto !important;
		bottom: 200px !important;
		.tp-arr-titleholder {
			display: none !important;
		}
		&.preview3 {
			background-color: $blue-dark;
			width: 125px;
			height: 125px;
			&:after {
				background-color: $blue-dark;
				color: $white;
				width: 125px;
				height: 125px;
			}
			&:hover {
				&:after {
					color: $white;
					@include rgba-background(rgba(0, 0, 0, 0.25));
				}
			}
			&.tp-leftarrow {
				right: 425px!important;
				left: auto !important;
				.tp-arr-iwrapper {
					padding-left: 0;
					top: 0;
				}
			}
			&.tp-rightarrow {
				padding-right: 0;
				right: 300px!important;
				.tp-arr-iwrapper {
					padding-right: 0 !important;
					top: 0!important; 
				}
			}
		}
		.tp-arr-iwrapper {
			width: 125px !important;
			position: relative;
		}
	}

	.tp-arr-allwrapper {
		visibility: visible !important;
		-khtml-opacity: 1 !important;
  		opacity: 1 !important;
		transform: none !important;
		.tp-arr-iwrapper {
			transform: none !important;
			@include opacity(1);
			transform: none !important;
			.tp-arr-imgholder {
				transform: none !important;
			}
		}
	}
	.tp-bannertimer {
		display: none;
	}
	.bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		.shape-wrapper {

		}
		.triangle-down-left {
		    width: 58.33%;
		    float: left;
		    height: 0;
		    overflow: hidden;
		}
		.triangle-down-left:after {
		    content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    border-right: 500px solid transparent;
		    border-bottom: 500px solid #4679BD;
		}

		.triangle-down-right {
		    width: 41.67%;
		    height: 0;
		    overflow: hidden;
		}
		.triangle-down-right:after {
		    content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    margin-top:-500px;
		    
		    border-top: 500px solid transparent;
		    border-right: 500px solid #4679BD;
		}
	}
}